*{
	padding: 0;
	margin: 0;
}
body{
	background-attachment: fixed;
	background-image: url(../img/850.png);
	background-size: cover;
}
.active{
	color: blue;
}
@media only screen and (min-width: 300px ) {
	.user{
		/*position: absolute;*/
		height: 50px;
		top: 20px;
		left: 20px;
		color: #fff;
		font-size: 1em;
		padding-bottom: 20px;
	}
	.user .user_class select{
		width: 210px;
		height: 30px;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	}
	.user .user_type select{
		width: 100px;
		height: 30px;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	}
	.user input{
		width: 200px;
		height: 24px;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	}
	.user>div{
		display: inline-block;
		padding: 10px;
	} 
	.logo{
		display: none;
		width: 0px;
		position: absolute;
		top: 10px;
		left: 20px;
		z-index: 0;
	}
	.backGround{
		width: 100%;
	}
	.container{
		font-size: 1em;
		position: relative;
		width: 100%;
		border-radius: 8px;
		background: #fff;
		overflow: hidden;
		margin-bottom: 20px;
		margin-top: 100px;
	}
	h1{
		padding-top: 20px;
		padding-left: 10px;
	}
	.container_text{
		font-size: 1em;
		margin-top: 20px;
	}
	.container_text_font{
		/*font-size: 16px;*/
		margin: 10px ;
		border:1px #ccc solid;
		padding: 10px;
		border-radius: 4px;
	}
	.container_text_font p{
		margin:10px;
	}
	.container_text_font input{
		width: 30px;
		margin: 0 2px;
	}
	.container_text_font label{
		margin-left: 4px;
	}
	.container button{
		font-size: 1.2em;
		color: #fff;
		width: 40%;
		height: 40px;
		border: 0;
		background: #2E68B1;
		margin-bottom: 50px;
		float: right;
		margin-right: 20px;
		border-radius: 6px;
	}
}
@media only screen and (min-width: 1200px ) {
	.logo{
		display: block;
		position: absolute;
		top: 20px;
		left: 200px;
		z-index: 0;
		width: 120px;
	}
	.backGround{
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
	}
	.user{
		position: absolute;
		height: 50px;
		top: 20px;
		left: 400px;
		color: #fff;
		font-size: 20px;
	}
	.user select{
		width: 100px;
		height: 30px;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	}
	.user input{
		width: 150px;
		height: 24px;
		border: 0;
		border-radius: 4px;
		padding: 4px;
	}
	.user>div{
		display: inline-block;
		padding: 10px;
	} 
	.container{
		position: relative;
		width: 1200px;
		border-radius: 8px;
		/*background: #fff;*/
		background-image: url(../img/shuiyin.jpg);
		background-size: 30%;
		margin: 100px auto;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.container h1{
		font-size: 32px;
		text-align: center;
		padding-top: 50px;	
		padding-bottom: 20px;	
	}
	.container_text{
		margin-top: 80px;
	}
	.container_text_font{
		/*border: 0;*/
		font-size: 20px;
		font-weight: bold;
		margin: 50px 80px;
	}
	.container_text_font p{
		margin:20px;
	}
	.container_text_font input{
		margin: 0 10px;
	}
	.container_text_font label{
		margin-left: 60px;
	}
	.container button{
		color: #fff;
		width: 100px;
		height: 40px;
		border: 0;
		background: #2E68B1;
		margin-bottom: 50px;
		float: right;
		margin-right: 80px;
		border-radius: 6px;
	}
}
